<head>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body {
      margin-top: 15px;
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <h1>Register</h1>
  <form class="pure-form pure-form-stacked" method="POST" action="/register">
    <fieldset>
      <label for="email">Register here to get updates from the OINP updates page in your inbox:</label>
      <input type="email" name="email" placeholder="Email">
      <button type="submit" class="pure-button pure-button-primary">Register</button>
    </fieldset>
  </form>

  <h1>Logs of the last 10 times that the OINP updates page was checked:</h1>
  <% @logs.reverse.each do |log| %>
    <%= log %>
    <br />
  <% end %>
</body>
